html,
body,
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#Header,
#footer {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #9dffb0;
}

#Header {
    height: 10vh;
    top: 0;
}

nav,
#NavLinks {
    flex-grow: 1;
}

nav {
    padding: 0px 15px 0px 15px;
}

#NavLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer {
    height: 5vh;
    bottom: 0;
    padding-left: 15px;
}

#Home,
#Shop {
    margin-top: 10vh;
    margin-bottom: 5vh;
    height: 100%
}

#Home {
    background-color: #81f1f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Greeting {
    background-color: #c9fcff;
    border-radius: 20px;
    height: 50vh;
    width: 75vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    padding: 10px;
}

#GreetImg {
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    object-fit: contain;
    padding: 20px;
}

img {
    max-width: 100%;
}

#Shop {
    display: flex;
    flex-direction: column;
}

#cartDiv {
    background-color: #c8a104;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}

#itemDisplayDiv {
    background-color: #f6f19f;
    min-height: 90%;
    padding: 10px 15% 40px 15%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    overflow: scroll;
}

.ItemCard {
    background-color: #f7e13e;
    height: 300px;
    display: grid;
    grid-template-rows: 3fr repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.ItemCard > * {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

input {
    width: 25%;
}