@font-face {
    font-family: BreeSerif;
    src: url(../components/fonts/BreeSerif-Regular.ttf);
}

html,
body,
#root {
    font-family: BreeSerif;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1{
    font-size: 2em;
}

a:link, a:visited {
    color: black
}

a:hover{
    color: #27bfc7
}

#Header, #footer {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #9dffb0;
}

#Header {
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
    top: 0;
}

nav,
#NavLinks {
    flex-grow: 1;
}

nav {
    padding: 0px 15px 0px 15px;
}

#NavLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#Logo{
    max-height: 110px;
    object-fit: contain;
}

#footer {
    height: 5vh;
    bottom: 0;
    padding-left: 15px;
    flex-direction: column;
    justify-content: center;
}

#Home,
#Shop {
    margin-top: 15vh;
    margin-bottom: 5vh;
    height: 100%
}

#Home {
    background-color: #81f1f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Greeting {
    background-color: #c9fcff;
    border-radius: 20px;
    height: 50vh;
    width: 75vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    padding: 10px;
}

#Greeting > * {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#GreetImg {
    grid-row: 1 / -1;
    justify-content: end;
    object-fit: contain;
}


img {
    max-width: 100%;
}

#Shop {
    display: flex;
    flex-direction: column;
    background-color: #f6f19f;
}

#cartDiv {
    position: fixed;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    background-color: #c8a104;
}

#CheckoutButton {
    margin-right: 10px;
}

#itemDisplayDiv {
    background-color: #f6f19f;
    height: 70vh;
    margin-top: 5vh;
    padding: 10px 15% 40px 15%;
    /* margin-bottom: 15%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    overflow: auto;
}

.ItemCard {
    background-color: #f7e13e;
    height: 300px;
    padding: 10px;
    display: grid;
    grid-template-rows: 3fr repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.ItemCard > * {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.itemImg {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
}
.itemDesc {
    grid-column: 1 / -1;
}
.itemPrice {
    grid-column: 1 / 2;
}
.itemQuantity {
    grid-column: -2 / -1;
}
.itemAdd {
    grid-column: 1 / -1;
}

.bellIcon {
    height: 2em;
}

input {
    width: 50%;
}

input:invalid {
    border: solid red 3px;
}